<div class="centerContent">
    <div md-dialog-content>
        <div
        [ngClass]="{
          'is-disabled': (data.currentImageID) == 0,
          'arrows': true
        }" (click)="imgChange('left')" >
          <
          </div>
        <img style="width: 80%;" src="{{ data.allImages[data.currentImageID].imgString }}"/>
        <div [ngClass]="{
          'is-disabled': data.currentImageID == data.allImages.length-1,
          'arrows': true
        }"
        (click)="imgChange('right')" class="arrows">
           >
            </div>

      </div>

</div>


    <!-- <div mat-dialog-actions>
        <button mat-raised-button (click)="closeDialog()">Close</button>
      </div> -->
<!-- <mat-dialog-actions>
</mat-dialog-actions> -->
