<div class="centerContent">
    <div style="height:100%" md-dialog-content>
        <button
        [ngClass]="{
          'is-disabled': (data.currentImageID) == 0,
          'arrows': true
        }" (click)="imgChange('left')" >
          <
      </button>
        <div class="imageContainer">
          <img class="imageStyle" src="{{ data.allImages[data.currentImageID].imgString }}"/>

        </div>
        <button [ngClass]="{
          'is-disabled': data.currentImageID == data.allImages.length-1,
          'arrows': true
        }"
        (click)="imgChange('right')" class="arrows">
           >
            </button>

      </div>

</div>


    <!-- <div mat-dialog-actions>
        <button mat-raised-button (click)="closeDialog()">Close</button>
      </div> -->
<!-- <mat-dialog-actions>
</mat-dialog-actions> -->
