<div class="galleryContainer">
      <div class="imageCountStyle" [innerHTML]="getTotalImages()"></div>
      <div class="upload-btn-wrapper">
          <button class="btn">+</button>
          <input type="file" name="myfile" (change)="onFileSelected($event)" />
      </div>
      <div class="masonry">
          <div *ngFor="let imgItem of images" class="item">

            <img data-id="{{ imgItem.id }}" (click)="openDialog($event)" src="{{ imgItem.imgString }}"/>

        </div>
        </div>

</div>

